<div class="form">
  <ul class="tab-group" (click)="onClick($event)">
    <li *ngFor="let tab of tabs; first as f" class="tab">
      <a href="{{tab.url}}" class="tab__item" [class.tab__item--active]="f">{{tab.title}}</a>
    </li>
  </ul>
  <div class="tab-content">
      <div class="tab-content__item tab-content__item--active" id="signup">
        <app-sign-up></app-sign-up>
      </div>
      <div class="tab-content__item" id="login">
        <app-log-in></app-log-in>
      </div>
  </div>
</div>
